<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.bosch.bct.utils.category"
            class="com.bosch.bct.utils.timesheet.view.TimesheetView"
            id="com.bosch.bct.utils.timesheet.view"
            name="Timesheet"
            restorable="true">
      </view>
      <category
            id="com.bosch.bct.utils.category"
            name="BCT Utility">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.bosch.bct.utils.timesheet.handler.ConfigurePathHandler"
            commandId="com.bosch.bct.utils.timesheet.configure.path">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Add timesheet path saved in server"
            id="com.bosch.bct.utils.timesheet.configure.path"
            name="Configure File Path">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.bosch.bct.utils.timesheet.view?after=additions">
         <command
               commandId="com.bosch.bct.utils.timesheet.configure.path"
               icon="platform:/plugin/org.eclipse.ui.views/icons/full/eview16/outline_co.gif "
               label="Configure File Path"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.bosch.bct.utils.timesheet.configure.path">
         <command
               commandId="com.bosch.bct.utils.timesheet.configure.path"
               icon="platform:/plugin/org.eclipse.ui.views/icons/full/eview16/outline_co.gif ">
         </command>
      </menuContribution>
   </extension>

</plugin>
